In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7049 non-null   object
 1   Year            7047 non-null   float64
 2   Type            7031 non-null   object
 3   Country         6999 non-null   object
 4   State           6563 non-null   object
 5   Location        6482 non-null   object
 6   Activity        6464 non-null   object
 7   Name            6830 non-null   object
 8   Sex             6470 non-null   object
 9   Age             4055 non-null   object
 10  Injury          7014 non-null   object
 11  Fatal Y/N       6488 non-null   object
 12  Time            3523 non-null   object
 13  Species         3918 non-null   object
 14  Source          7029 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [4]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,7049.0,6093.0,1957.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year,7047.0,NaN,NaN,NaN,1935.710231,271.100925,0.0,1948.0,1986.0,2010.0,2026.0
Type,7031,13,Unprovoked,5202,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,6999,248,USA,2573,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,6563,938,Florida,1192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,6482,4597,"New Smyrna Beach, Volusia County",191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Activity,6464,1608,Surfing,1140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,6830,5774,male,679,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sex,6470,10,M,5653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,4055.0,251.0,16.0,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury,7014,4166,FATAL,863,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fatal Y/N,6488,12,N,4914,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,3523,462,Afternoon,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Species,3918,1728,White shark,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source,7029,5385,"K. McMurray, TrackingSharks.com",131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pdf,6799,6789,1935.06.05.R-SolomonIslands.pdf,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href formula,6794,6784,http://sharkattackfile.net/spreadsheets/pdf_di...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
href,6796,6776,http://sharkattackfile.net/spreadsheets/pdf_di...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number,6798,6777,2013.10.05,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case Number.1,6797,6775,2021.07.04,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original order,6799.0,NaN,NaN,NaN,3401.152081,1963.076319,2.0,1701.5,3401.0,5100.5,6802.0
Unnamed: 21,1,1,stopped here,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,2,2,Teramo,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns.tolist()

['Date',
 'Year',
 'Type',
 'Country',
 'State',
 'Location',
 'Activity',
 'Name',
 'Sex',
 'Age',
 'Injury',
 'Fatal Y/N',
 'Time',
 'Species ',
 'Source',
 'pdf',
 'href formula',
 'href',
 'Case Number',
 'Case Number.1',
 'original order',
 'Unnamed: 21',
 'Unnamed: 22']

In [7]:
df = df.dropna(how='all')

In [8]:
df = df.drop_duplicates()

In [9]:
df = df.drop(columns=['Unnamed: 22', 'Unnamed: 23'], errors='ignore')

In [10]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [11]:
cols = [
    'fatal_y/n',  # Resultado del ataque
    'species',    # Tipo de tiburón
    'injury',     # Tipo o descripción de la herida
    'sex',        # Sexo de la víctima
    'year',       # Año del ataque
    'date',       # Fecha exacta (si está)
    'age',        # Edad
    'country',    # País
    'location'    # Lugar dentro del país
]

In [12]:
df = df[cols].copy()
df.head()

,fatal_y/n,species,injury,sex,year,date,age,country,location
0,N,Tiger or Bull shark,Serious abdonminal injuries,M,2025.0,11th October,14,Australia,Cook Esplanade Thursday Island
1,N,Bronze whaler?,Lacerations to calf,M,2025.0,7th October,50+,Australia,Kangaroo Island
2,N,unknown 1.2m shark,Leg and foot injury,M,2025.0,29th September,54,USA,Catalina Island
3,N,Tiger shark 4m,Head face and arms,M,2025.0,27th September,48,Costa Rica,Cocos Islands
4,Y,Great White Shark,Both legs and arm severed,M,2025.0,6th September,57,Australia,Long Reef Sydney

In [13]:
df.columns = ['fatal', 'species', 'injury', 'sex', 'year', 'date', 'age', 'country', 'location']

In [14]:
df.info()
(df.isna().sum() / len(df) * 100).round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fatal     6488 non-null   object
 1   species   3918 non-null   object
 2   injury    7014 non-null   object
 3   sex       6470 non-null   object
 4   year      7047 non-null   float64
 5   date      7049 non-null   object
 6   age       4055 non-null   object
 7   country   6999 non-null   object
 8   location  6482 non-null   object
dtypes: float64(1), object(8)
memory usage: 495.8+ KB

fatal        8.0
species     44.4
injury       0.5
sex          8.2
year         0.0
date         0.0
age         42.5
country      0.7
location     8.0
dtype: float64

In [15]:
df.shape

(7049, 9)

In [16]:
df['fatal'] = (df['fatal'].astype(str).str.strip().str.upper()
               .replace({'Y':'Yes','N':'No','UNKNOWN':None,'F':'No','M':'No','':None}))
df['fatal_bool'] = df['fatal'].map({'Yes': True, 'No': False})

In [17]:
df['sex'] = (df['sex'].astype(str).str.strip().str.upper()
             .replace({'M':'Male','F':'Female','UNKNOWN':None,'NAN':None,'NONE':None,'':None}))

In [18]:
age_num = df['age'].astype(str).str.extract(r'(\d+)')[0]
df['age'] = age_num.where(age_num.isna(), age_num.astype(float))
df.loc[(df['age'] < 1) | (df['age'] > 100), 'age'] = None

In [19]:
df['year'] = df['year'].astype(str).str.extract(r'(\d{4})')[0]
df['year'] = df['year'].astype('Int64')
df.loc[(df['year'] < 1800) | (df['year'] > 2025), 'year'] = None

In [20]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')

C:\Users\cubea\AppData\Local\Temp\ipykernel_12452\2370506791.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [21]:
s = df['species'].astype(str).str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)

df['species_clean'] = None
df.loc[s.str.contains('white|carcharodon|tiburón blanco|tiburon blanco', case=False, na=False), 'species_clean'] = 'tiburon blanco'
df.loc[s.str.contains('tiger|galeocerdo|tiburón tigre|tiburon tigre',   case=False, na=False), 'species_clean'] = 'tiburon tigre'
df.loc[s.str.contains('bull|leucas|tiburón toro|tiburon toro',          case=False, na=False), 'species_clean'] = 'tiburon toro'
df.loc[s.str.contains('blue|prionace|tiburón azul|tiburon azul',        case=False, na=False), 'species_clean'] = 'tiburon azul'

In [22]:
inj = df['injury'].astype(str).str.strip().str.lower()
df['injury_type'] = None
df.loc[    inj.str.contains('fatal',      na=False), 'injury_type'] = 'fatal'
df.loc[    inj.str.contains('no injury|uninjured', na=False), 'injury_type'] = 'sin herida'
df.loc[    inj.str.contains('minor|superficial',   na=False), 'injury_type'] = 'leve'
df.loc[    inj.str.contains('serious|severe|amput',na=False), 'injury_type'] = 'grave'
df['injury_type'] = df['injury_type'].fillna('otros')

In [23]:
df['country']  = df['country'].astype(str).str.strip().str.title().replace({'Usa':'USA','United States':'USA'})
df['location'] = df['location'].astype(str).str.strip().str.title()

In [24]:
print("Shape:", df.shape)
print("\nNulls (%):")
print((df.isna().sum()/len(df)*100).round(1).sort_values(ascending=False))
print("\nSpecies counts:")
print(df['species_clean'].value_counts(dropna=False))

Shape: (7049, 12)

Nulls (%):
species_clean    80.3
species          44.4
age              43.1
date             12.8
fatal_bool        9.0
sex               8.2
year              2.6
fatal             1.0
injury            0.5
country           0.0
location          0.0
injury_type       0.0
dtype: float64

Species counts:
species_clean
None              5659
tiburon blanco     748
tiburon tigre      334
tiburon toro       245
tiburon azul        63
Name: count, dtype: int64

In [25]:
%pip install openpyxl

import os
os.makedirs("data", exist_ok=True)  # por si la carpeta no existe
df.to_excel("data/attacks_clean.xlsx", index=False)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: openpyxl in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
df.replace(['###', 'Y X 2', 'NQ', 'Nan', ' '], pd.NA, inplace=True)

C:\Users\cubea\AppData\Local\Temp\ipykernel_12452\2832433809.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace(['###', 'Y X 2', 'NQ', 'Nan', ' '], pd.NA, inplace=True)

In [27]:
grouped = df.groupby('year')

In [28]:
df.groupby(['year'])['date'].mean()

year
1800   1800-01-01 00:00:00.000000000
1801                             NaT
1802                             NaT
1803   1803-04-17 08:00:00.000000000
1804                             NaT
                    ...
2021   2021-06-11 00:00:00.000000000
2022   2022-06-23 15:15:00.000000000
2023   2023-07-10 11:31:45.882352896
2024   2024-07-07 06:00:00.000000000
2025   2025-03-01 03:25:42.857142784
Name: date, Length: 215, dtype: datetime64[ns]

In [29]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')

In [30]:
m = df['date'].dt.month
d = df['date'].dt.day

In [31]:
mask = df['year'].notna() & m.notna() & d.notna()

df['date_fixed'] = pd.NaT
df.loc[mask, 'date_fixed'] = pd.to_datetime(
    {
        'year':  df.loc[mask, 'year'].astype(int),
        'month': m.loc[mask].astype(int),
        'day':   d.loc[mask].astype(int),
    },
    errors='coerce'
)

In [32]:
df['date_dm'] = df['date_fixed'].dt.strftime('%d-%m')

In [33]:
ok = df['date_fixed'].dt.year.eq(df['year'])
print('Filas correctas:', ok.sum(), 'de', len(df))
df.loc[~ok, ['year','date','date_fixed']].head()

Filas correctas: 6122 de 7049

Empty DataFrame
Columns: [year, date, date_fixed]
Index: []

In [34]:
%pip install openpyxl

import os
os.makedirs("data", exist_ok=True) 
df.to_excel("data/attacks_clean.xlsx", index=False)

Requirement already satisfied: openpyxl in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\cubea\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip