In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

In [7]:
df.shape

(7049, 23)

In [8]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [9]:
df.isna().any()

Date              False
Year               True
Type               True
Country            True
State              True
Location           True
Activity           True
Name               True
Sex                True
Age                True
Injury             True
Fatal Y/N          True
Time               True
Species            True
Source             True
pdf                True
href formula       True
href               True
Case Number        True
Case Number.1      True
original order     True
Unnamed: 21        True
Unnamed: 22        True
dtype: bool

In [10]:
df.isna().sum()

Date                 0
Year                 2
Type                18
Country             50
State              486
Location           567
Activity           585
Name               219
Sex                579
Age               2994
Injury              35
Fatal Y/N          561
Time              3526
Species           3131
Source              20
pdf                250
href formula       255
href               253
Case Number        251
Case Number.1      252
original order     250
Unnamed: 21       7048
Unnamed: 22       7047
dtype: int64

In [23]:
# % de de nulos.

df.isna().sum()/df.shape[0]

Date              0.000000
Year              0.000284
Type              0.002554
Country           0.007093
State             0.068946
Location          0.080437
Activity          0.082990
Name              0.031068
Sex               0.082139
Age               0.424741
Injury            0.004965
Fatal Y/N         0.079586
Time              0.500213
Species           0.444176
Source            0.002837
pdf               0.035466
href formula      0.036175
href              0.035892
Case Number       0.035608
Case Number.1     0.035750
original order    0.035466
Unnamed: 21       0.999858
Unnamed: 22       0.999716
dtype: float64

In [24]:
#eliminacion de celdas
df  ->    .      ->     drop

SyntaxError: invalid syntax (273671427.py, line 2)